<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">Category:<%= @restaurant.category %></li>
    <li class="list-group-item">Adress: <%= @restaurant.address %></li>
     <li class="list-group-item">Phone Number: <%= @restaurant.phone_number %></li>
    <li class="list-group-item">Rating: <%= review.rating %></li>
    <li class="list-group-item">Content: <%= review.content %></li>
  <% end %>
</ul>

<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>